<!DOCTYPE html>
<html>
  <head>
    <title>提示</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= filename %></h1>
    <p><%= message %></p>
  </body>
</html>
